{% extends "todo_manager/base.html" %}

{% block title %}
Добавить запись
{% endblock %}
{% block content %}
    <h2>Создать запись</h2>
    {% if user.is_active %}
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        <br>
        {{ form.message }}
        <br>
        <p class="h6">Статус: {{ form.status }}</p>
        <p class="h6">Важно: {{ form.important }}</p>
        <p class="h6">Дата исполнения: {{ form.time_field }}</p>
        <p class="h6">Публично: {{ form.public }}  </p>
        <button type="submit" class="btn btn-success" href="{% url 'add_note' %}">Добавить</button>
    {% else %}
        <p class="h6">Необходимо выполнить вход</p>
    {% endif %}
    </form>
{% endblock %}
