{% extends "todo_manager/base.html" %}

{% block title %}
Добавить запись
{% endblock %}
{% block content %}
    <h1>Создать запись</h1>
    {% if user.is_active %}
    <form method="post">
        {% csrf_token %}
        {{ form.title }}
        <br>
        {{ form.message }}
        <br>
        <p>Статус: {{ form.status }}</p>
        <p>Важно: {{ form.important }}</p>
        <p>Дата исполнения: {{ form.time_field }}</p>
        <p>Публично: {{ form.public }}  </p>
        <button type="submit" class="btn btn-success">Добавить</button>
    {% else %}
        <p>Необходимо выполнить вход</p>
    {% endif %}
    </form>
{% endblock %}
